
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Registration Form</title>
        <link rel="stylesheet" href="https://almasrepair.000webhostapp.com/css/familyform.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        </head>
        
        <body>
        
            <div id="form-main"> 
                <div id="form-div">
                  <form class="form" id="form1" action="/Families" method="post" >
                    <div class="w3-center w3-large w3-padding w3-margin-bottom">Family Registrations</div>
                    <b>Father's Details</b>
                    <p> 
                      <input name="fatherFirstName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input " placeholder=" First Name" id="firstname" required />
                                
                        <input name="fatherLastName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Last Name" id="lastname" required  />
                    </p>
                    <b>Mother's Details</b>
                    <p> 
                      <input name="motherFirstName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input " placeholder=" First Name" id="firstname" required />
                                
                        <input name="motherLastName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Last Name" id="lastname" required  />
                    </p>
                    
                    <b>Contact information</b>
                    <p>
                      <input name="email" type="text" class="w3-margin-bottom validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Email" id="email" required  /> 
                      <input name="phoneNumber" type="text" class=" feedback-input" placeholder="Phone Number" id="phone" required  />
                    </p>
                    
                    <b>Payment Type</b>
                     <p class="w3-row">
                      <input name="paymentType" value="cash" type="radio" class="w3-radio w3-middle " /> Cash
                      <input name="paymentType" value="cheque" type="radio" class="w3-radio w3-middle " /> Cheque
                      <input name="paymentType" value="etf" type="radio" class="w3-radio w3-middle " /> EFT
                     </p>
                    
                    <b>Child's Details</b>
                    <p> 
                      <input name="childfirstName1" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input " placeholder=" First Name" id="firstname" required />
                                
                        <input name="childlastName1" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input" placeholder="Last Name" id="lastname" required  />
        
        <select class="w3-select w3-margin-top" name="childgrade1" >
          <option value="" disabled selected>Choose child's grade</option>
          <option value="1">Kindergarten</option>
          <option value="2">Grade 1</option>
          <option value="3">Grade 2</option>
          <option value="4">Grade 3</option>
          <option value="5">Grade 4</option>
          <option value="6">Grade 5</option>
          <option value="7">Grade 6</option>
        </select>
                    </p>
                    
                    <!--Add 2nd child -->
                   
                        <div class="addchild w3-margin-bottom w3-hide ">
                    
                                <p class="w3-text-white"> <b>2nd Child's Details</b></p>
         
                      <input name="childfirstName2" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input " placeholder=" First Name" id="firstname" />
                                
                        <input name="childlastName2" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input" placeholder="Last Name" id="lastname"  />
        
                    <select class="w3-select w3-margin-top" name="childgrade2" >
                      <option value="" disabled selected>Choose child's grade</option>
                      <option value="1">Kindergarten</option>
                      <option value="2">Grade 1</option>
                      <option value="3">Grade 2</option>
                      <option value="4">Grade 3</option>
                      <option value="5">Grade 4</option>
                      <option value="6">Grade 5</option>
                      <option value="7">Grade 6</option>
                    </select>
                    </div> 
                    <!-- 3rd child -->
                    <div class="addchild w3-margin-bottom w3-hide ">
                    
                                <p> <b>3rd Child's Details</b></p>
         
                      <input name="childfirstName3" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input " placeholder=" First Name" id="firstname" />
                                
                        <input name="childlastName3" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input" placeholder="Last Name" id="lastname"  />
        
                    <select class="w3-select w3-margin-top" name="childgrade3" >
                      <option value="" disabled selected>Choose child's grade</option>
                      <option value="1">Kindergarten</option>
                      <option value="2">Grade 1</option>
                      <option value="3">Grade 2</option>
                      <option value="4">Grade 3</option>
                      <option value="5">Grade 4</option>
                      <option value="6">Grade 5</option>
                      <option value="7">Grade 6</option>
                    </select>
                    </div> 
                    <!-- 4th child -->
                    <div class="addchild w3-margin-bottom w3-hide ">
                    
                                <p> <b>4th Child's Details</b></p>
         
                      <input name="childfirstName3" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input " placeholder=" First Name" id="firstname"  />
                                
                        <input name="childlastName4" type="text" class="validate[custom[onlyLetter],length[0,100]] feedback-input" placeholder="Last Name" id="lastname"   />
        
                    <select class="w3-select w3-margin-top" name="childgrade4" >
                      <option value="" disabled selected>Choose child's grade</option>
                      <option value="1">Kindergarten</option>
                      <option value="2">Grade 1</option>
                      <option value="3">Grade 2</option>
                      <option value="4">Grade 3</option>
                      <option value="5">Grade 4</option>
                      <option value="6">Grade 5</option>
                      <option value="7">Grade 6</option>
                    </select>
                    </div> 
                    
                    
                    
                    <div id="addChildButton" onclick="addchild()" class="w3-button w3-blue-grey w3-margin-bottom">Add another child</div>
                             
                    <div class="submit" id="p-submit">
                      <input type="submit" name="submit" value="Submit" id="button-blue"/>
                      <div class="ease"></div>
                    </div>
                  </form>
                </div>
        </div>
        
        
         <script>
           //The client should handle the case if there is less than 4 children entered. 
           //It should fill in 'undefined' for the unentered children, so the server can still accept the entry.
                    var i=0;
                    function addchild(){
                        
                        var newchild = document.getElementsByClassName("addchild");
                        newchild[i].className = newchild[i].className.replace(" w3-hide", "");
                        i++;
                        if (i >= 3){
                            $("#addChildButton").hide();
                        }
                    }
                    </script>
        
               
               
                
        </body>
        </html>
        
        
         