<!DOCTYPE html>
<html>
<title>Sakinah Circle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="{{asset('../app/controller/resister.js')}}"></script>

<script>
    console.log("Test");
    console.log($.fn.jquery);
</script>

<body class="w3-light-grey">
    <form action="/families" method="POST">
        fID:<br>
        <input type="text" name="firstName" value="">
        <br>
        paymentType:<br>
        <input type="text" name="lastName" value="Mouse">
        <br>
        fID:<br>
        <input type="text" name="fID" value="">
        <br>
        paymentType:<br>
        <input type="text" name="paymentType" value="Mouse">
        <br>
        motherFirstName:<br>
        <input type="text" name="motherFirstName" value="Mickey">
        <br>
        motherLastName:<br>
        <input type="text" name="motherLastName" value="Mickey">
        <br>
        fatherFirstName:<br>
        <input type="text" name="fatherFirstName" value="Mickey">
        <br>
        fatherLastName:<br>
        <input type="text" name="fatherLastName" value="Mickey">
        <br>
        email:<br>
        <input type="text" name="email" value="Mickey">
        <br>
        phoneNumber:<br>
        <input type="text" name="phoneNumber" value="Mickey">
        <br>
        childfID:<br>
        <input type="text" name="childfID" value="Mickey">
        <br>
        childfirstName:<br>
        <input type="text" name="childfirstName" value="Mickey">
        <br>
        childLastName:<br>
        <input type="text" name="childlastName" value="cHILDLastName">
        <br>
        childgrade:<br>
        <input type="text" name="childgrade" value="Mickey">
        <br>
        paymentfID:<br>
        <input type="text" name="paymentfID" value="Mickey">
        <br>
        september:<br>
        <input type="text" name="september" value="Mickey">
        <br>
        october:<br>
        <input type="text" name="october" value="Mickey">
        <br>
        november:<br>
        <input type="text" name="november" value="Mickey">
        <br>
        december:<br>
        <input type="text" name="december" value="Mickey">
        <br>
        january:<br>
        <input type="text" name="january" value="Mickey">
        <br>
        february:<br>
        <input type="text" name="february" value="Mickey">
        <br>
        march:<br>
        <input type="text" name="march" value="Mickey">
        <br>
        april:<br>
        <input type="text" name="april" value="Mickey">
        <br>
        may:<br>
        <input type="text" name="may" value="Mickey">
        <br><br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>