<!DOCTYPE html>
<html>
<title>Sakinah Circle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src= "/viewFamilies"> </script>
<script src= "http://code.jquery.com/jquery-3.3.1.js"> </script>
<script src= "http://code.jquery.com/jquery-migrate-1.2.1.js"> </script>

<body>
    <p id="display">Random Text</p>
</body>
        
<script>
    console.log("Before Ajax")
    $.ajax({
        url: "/families",
        method: "GET",
        success: (data) => {
            console.log("This is the data object", data);
            $("#display").text(data[1].fatherFirstName);
        },
        error: (jqXHR, status, error) => {
            console.log("error from console", error);
            $("#display").text(error);
        },
        dataType: "json"
    });
</script>

</html>